* {
    margin: 0px;
    padding: 0px;
    /* border: 1px solid red; */
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');



body {
    overflow-y: hidden;
}

/* loader */
#loader {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: row;
}

.row1,
.row2 {
    display: flex;
    flex-direction: row;
}

#loader .shim-child {
    margin: 0px 10px;
    border: none;
    width: 200px;
}

#loader img {
    width: 50px;
    height: 50px;
}

@media screen and (max-width:1000px) {
    .row1 {
        margin-bottom: 40px;
    }

    #loader {
        align-items: center;
        flex-direction: column;
    }
}

@media screen and (max-width:470px) {
    #loader .shim-child {
        width: 70vw;
        margin-bottom: 40px;
    }

    .row1,
    .row2 {
        flex-direction: column;
    }

}

/* loader */

h1 {
    text-align: center;
    font-family: 'Manrope', sans-serif;
}

#btn-filter {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#btn-filter button {
    padding: 10px 16px;
    margin: 12px;
    cursor: pointer;
    border-radius: 1rem;
    border: none;
    /* box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1); */
    background-color: #010e1b;
    color: white;
    font-weight: 510;
}

#btn-filter .active,
#btn-filter .btn-filter-child:hover {
    background-color: white;
    color: black;
}

#video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    /* border: 3px solid black; */
    padding: 10px;
    visibility: hidden;
}

.video-container-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90vw;
    margin-bottom: 40px;
    /* border: 3px solid red; */
}

.video-container-row p {
    font-size: 16px;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    color: rgb(96, 105, 123);
}

.video-container-row-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: 3px solid blue; */
}

.video-container-row-child-child {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-container-row-child-child video {
    border-radius: 1rem;
    margin: 10px 10px;
    width: 190px;
    cursor: pointer;
}

.video-container-row-child-child p {
    font-size: 16px;
    font-weight: 700;
    color: rgb(96, 105, 123);
    font-family: 'Manrope', sans-serif;
}

.video-container-row-child-child a {
    font-family: 'Manrope', sans-serif;
    font-size: 19px;
    font-weight: 700;
    color: rgb(52, 62, 81);
    margin-bottom: 6px;
}

/* responsive */
@media screen and (max-width:450px) {
    .video-container-row-child {
        flex-direction: column;
    }

    .video-container-row-child-child {
        margin-bottom: 40px;
    }

    .video-container-row-child-child video {
        width: 70vw;
    }
}

@media screen and (max-width:900px) {
    .video-container-row {
        flex-direction: column;
    }

    .video-container-row-child {
        margin-bottom: 30px;
    }
}

/* responsive */